{% extends "base.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
<section id="about">
    <h2>О нас</h2>
    <p>Добро пожаловать на наш новостной сайт! Мы стремимся предоставлять самые свежие и важные новости из разных сфер жизни. Наша цель — информировать, развлекать и вдохновлять наших читателей.</p>
    <h3>Наша миссия</h3>
    <p>Мы верим в силу информации и стремимся быть вашим надежным источником новостей, помогая вам быть в курсе всех важных событий.</p>
    <h3>Наша команда</h3>
    <p>Наша команда состоит из опытных журналистов, редакторов и специалистов по социальным сетям, которые работают не покладая рук, чтобы доставить вам качественные материалы.</p>
    <h3>Связаться с нами</h3>
    <p>Если у вас есть вопросы, предложения или вы хотите сотрудничать с нами, пожалуйста, свяжитесь с нами по электронной почте: <a href="mailto:info@example.com">info@example.com</a></p>
</section>
{% endblock %}
